/*用CSS实现瀑布布局*/
*
{
    margin: 0;
    padding: 0;
}

#main
{
    position: relative;
}

#main .box
{
    float: left;

    padding: 15px 0 0 15px;
}
#main .box .pic
{
    padding: 10px;

    border: 1px dotted #ccc;
    box-shadow: 0 0 5px;
}

#main .box .pic img
{
    width: 180px;
    height: auto;
}
