*
{
    margin: 0;
    padding: 0;

    text-align: center;
    text-decoration: none;
    font:17px "宋体";
}
.wrap
{
    width: 985px ;
    margin: 0 auto;

    background: #87b5c4 url(../img/homeback01.jpg) repeat-x;
}
.title
{

    height: 124px;

    background: url(../img/logobg.png)  no-repeat 0 0;
}
.title .english
{
    height: 64px;
    padding-top: 25px;
    padding-right: 50px;

    text-align: right;
}
.title .zb
{
    float: left;

    width: 148px;
    height: 35px;

    background: url(../img/zbtxt.gif)  no-repeat 0 0;
}
.menu
{
    float: left;

    width: 85px;
    height: 35px;
}
.noline
{
    width: 60px;
}
.content
{
    width: 985px;
    height: 1200px;
}
.topImg
{
    width: 985px;
}

.bottom
{
    width: 985px;
    height: 118px;
    background: url(../img/logobg.png)  no-repeat 0 -89px;
}
